h1, h2, p {
  text-align: center;
}

body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/021/428/963/non_2x/background-junk-food-related-seamless-pattern-and-background-editable-stroke-fast-food-line-art-of-hamburger-pizza-hot-dog-beverage-cheeseburger-restaurant-menu-background-free-vector.jpg);
}

.menu {
  width: 80%;
  background-color: #F4A261;
  margin-left: auto;
  margin-right: auto;
}

.food {
  text-align: left;
}

.price {
  text-align: right;
}