@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary-color: #F4A261;
  --secondary-color: #7d2c01;
  --background-image: url(https://static.vecteezy.com/system/resources/previews/021/428/963/non_2x/background-junk-food-related-seamless-pattern-and-background-editable-stroke-fast-food-line-art-of-hamburger-pizza-hot-dog-beverage-cheeseburger-restaurant-menu-background-free-vector.jpg);
}

body {
  font-family: 'Lora', serif;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

img {
  display: block;
  margin: -25px auto 0;
  height: 44px;
  width: 44px;
}

.menu {
  max-width: 500px;
  width: 80%;
  background-color: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
  height: 2px;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  margin: 20px 0;
}

.established {
  font-style: italic;
}

.item p {
  display: inline-block;
  margin: 5px 0;
  font-size: 18px;
}

.food,
.beverage {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

.bottom-line {
  margin-top: 25px;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--secondary-color);
}

.address {
  margin-bottom: 5px;
}